.react-calendar__tile--active {
    background: #1976d2 !important;
    color: white !important;
  }
  
  .highlight {
    background: #ffeb3b !important;
    border-radius: 50%;
    color: black !important;
  }
  